<!DOCTYPE html>
<html lang="es" ng-app="electionsApp">
    <head>
        <title>Elecciones en linea</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/elections.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Elecciones en linea</a>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer class="footer container-fluid">
        <p style="text-align: center">Desarrollado por: Alexander Castro - alexanderc@outlook.com</p>
    </footer>
</html>